
/* Used to prevent design from messing up upon minimize */
html, body {
  overflow-x: hidden;
}

body {
  min-width: 1300px;
  margin: 0px;
}


/* Navigation Section */
.top-navigation {
    background-color: #ffffff;
    border-top: 20px  solid;
    border-top-color: #4169E1;
    border-bottom: 2px solid black;
    position: fixed;
    width: 100%;
    /*positions the navigation bar at the top of the webpage*/
    top: 0;
    z-index: 9999;
}

.top-navigation > .content {
    height: 60px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 0px;    
    margin-left: 5px;    
    width: 93%;    
    max-width: 100%;    
    min-width: 1000px

}

.top-navigation .logo {
    float: left;
}

.top-navigation .links {
    float: right;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;   
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 70px;
}

.introduction {
    background-image: url('images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.top-navigation .content {
    width: 46rem;
    padding: 0 0.938rem:
    margin: 0 auto;
    min-width: 37.5rem;
}


.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
    margin-bottom: 0rem;
}

.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;

}

.introduction h3 {
    margin-top: 1.25rem;
    margin-bottom: 0rem;
    font-size: 1.563rem;
}

.introduction .big-button {
    text-align: center;
    margin-top: 1.563rem;
}

button {
    margin: 0 auto;
    width: 9.688rem;
    background-color: #4169E1;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

/* about section */
.about {
    height: 35rem;
    background-color: white;
    text-align:center;
}


.about .description_head h1  {
    font-family: serif;
    color:  black;
    letter-spacing: -0.03em;
    font-size: 2.75rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    padding-top: 9rem;
    margin-bottom: 0px;
}

.about .description_head h2  {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 0rem;
}

.about .description_head p  {
    font-family: sans-serif;
    color:  black;
    font-size: 16px;
    text-align: left;
    letter-spacing: +0.05em;
    margin-top: 0;
    padding-top: 3rem;
    margin-right: 140px;
    margin-left: 140px;
}



/*contact us section*/
.contact { 
  background-color: #4169E1;
  height: 20rem;
}

.contact h1 {
  margin-top: 0;
  margin-left: 3rem;
  padding-top: 2rem;
  color: white;
  letter-spacing: -0.03em;
  font-weight: 300;
  font-size: 40px;
}

.contact h2 {
  margin-left: 3rem;
  margin-bottom: 0rem;
  color: white;
  letter-spacing: -0.01em;
  font-size: 18px;
  font-weight:100;
}

.contact p {
  margin-left: 3px;
  float: left;
  color: white;
  letter-spacing: -0.01em;
  font-size: 16px;
}

